<h1>Livro Filtrado no Banco de Dados</h1>

<section>
    <article style="display: flex; flex-direction: column;">
            <p id="mostrarlivro">#{{book.idbooks}} - <span class="bold">{{book.title}}</span> - {{book.pages}} páginas</p>
            <a style="margin: auto; margin-top: 5px;" href="/book/edit/{{book.idbooks}}">Editar Informações</a>
            <form style="margin: auto; margin-top: 5px;" action="/book/delete/{{book.idbooks}}" method="post">
                <button type="submit">Excluir Livro</button>
            </form>
    </article>
</section>