<h1>Editando a terefa : {{task.title}}</h1>
<form action="/task/edit" method="post">

    <input type="hidden" name="id" value="{{task.id}}">

    <section class="form-control">
        <label for="title">Titulo da Tarefa:</label>
        <input type="text" name="title" value="{{task.title}}">
    </section>

    <section class="form-control">
        <label for="description">Descrição da Tarefa:</label>
        <textarea name="description">{{task.description}}</textarea>
    </section>

    <section class="form-control">
        <label for="donecheck">Tarefa Feita</label>
        <input type="checkbox" name="done" {{check}} >
    </section>
    
    <input type="submit" value="editar">

</form>