<h1>Editando o usuário : {{user.name}}</h1>

<form action="/usuario/edit" method="post" class="form">

    <input type="hidden" name="id" value="{{user.id}}">

    <div class="form-control">
        <label for="nome">Nome:</label>
        <input type="text" name="nome" value="{{user.name}}">
    </div>

    <div class="form-control">
        <label for="ocupacao">Profissão:</label>
        <input type="text" name="ocupacao" value="{{user.occupation}}">
    </div>

    <div class="form-control form-checkbox">
        <input type="checkbox" name="newsletter" {{#if user.newsletter}}checked{{/if}}>
        <label for="newsletter">Enviar Promoções:</label>
    </div>

    <input type="submit" value="Editar">

</form>
<section class="addres-container">
    <h2>Endereços :</h2>
    <form action="/endereco/criar" method="post">
        <input type="hidden" name="UserId" value="{{user.id}}">

        <div class="form-control">
            <label for="street">Rua :</label>
            <input type="text" name="street" placeholder="Digite aqui a rua onde você mora">
        </div>

        <div class="form-control">
            <label for="number">Numero :</label>
            <input type="text" name="number" placeholder="Digite o número da sua casa ou Apto.">
        </div>

        <div class="form-control">
            <label for="street">Cidade :</label>
            <input type="text" name="city" placeholder="Digite aqui a cidade onde você mora">
        </div>
        <input type="submit" value="Incluir Endereço">
    </form>
</section>
<section class="address-list">
    <h2>Lista de Endereços:</h2>
    {{#each user.Addresses}}
        <p>#{{this.id}} - {{this.street}} - {{this.number}} - {{this.city}}</p>
        <form action="/endereco/deletar" method="post">
            <input type="hidden" name="idendereco" value="{{this.id}}">
            <input type="hidden" name="idusuario" value="{{../user.id}}">
            <input type="submit" value="Excluir">
        </form>
    {{/each}}
</section>